
@font-face{
    font-family: 'montserrat';
    src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'montserrat-medium';
	src: url(./../fonts/Montserrat-Medium.ttf);
}
@font-face{
	font-family: 'montserrat-bold';
	src: url(./../fonts/Montserrat-Bold.ttf);
}

body{
    font-family: 'montserrat';
    font-weight: normal;
    font-style: normal;
    color: #333131;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
h1,h3{
   font-family:'montserrat-bold';
   color: #333131;
   margin-bottom: 15px;
}
p{
    font-family: 'montserrat';
}
h5{
    font-family: 'montserrat-bold';
}
h1{font-size: 80px;}
h2{font-size: 60px;}
h3{font-size: 40px;}
h4{font-size: 30px;}
h5{font-size: 24px;}
h6{font-size: 16px;}

p{
    margin-bottom: 15px;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width:1640px;
}
.header-area{
    position: absolute;
    width: 100%;
}
.logo{
    padding:25px 0;
    width: 15%;
    height: auto;
}
.landing-area{
    background-position:center center;
}
.section-content p{
    font-size: 24px;
}
.form-box{
    box-shadow:5px 10px 15px rgb(51, 49, 49, .4);
    padding: 40px;
    border-radius: 26px;
    background: #fff;
}
.form-box p{
    font-size: 24px;
}
.form-box h3{
    margin-bottom: 10px;
}
.form-box input{
    width: 100%;
    padding:15px;
    background: #f7f7ff;
    border: 0;
    border-radius:11px;
    margin-bottom: 15px;
}
.chk-bx-wrap input{
    display: none;
}
.chk-bx{
    border: 1px solid #333131;
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
}
.form-box input[type=submit]{
    font-size: 32px;
    padding:10px;
    background:#57EEAB;
    font-family: 'montserrat-bold';
}
.form-box-last p{
    margin: 0;
    font-size: 15px;
    text-align: center;
}
.footer-area{
    position: absolute;
    width: 100%;
    background:#fffd8c;
    padding: 20px 0;
}
.fcontainer h5{
    font-size: 15px;
    margin-bottom:5px;
}
.fcontainer p{
    font-size: 16px;
	margin-bottom: 5px;
}
.fcontainer form{
    display: flex;
    flex:wrap;
}
.fcontainer form input{
    margin-right:15px;
    border-radius: 11px;
    border: 0;
    background: #f7f7ff;
    padding: 11px;
}
.fcontainer form input::placeholder{
    color: #707070;
    font-family: 'montserrat-medium';
}
.fcontainer form input:first-child{
    width: 125px;
}
.fcontainer form input [type=submit]{
    padding: 10px 25px;
    font-family: 'montserrat-bold';
    background: #ff8480;
    color: #fff;
}
.social-link ul li{
    display:inline-block;
    margin-right: 45px;
}
.social-link ul li a{
    display: inline-block;
}
